
body
{
    font-family: verdana;
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
}

.samp
{
    margin: auto;
    padding: 20px;
    
}

header{
    margin-left: 40px;
}


h1{
    color:darkgray;
    font-family: : verdana;
}

p{
    color: antiquewhite;
     text-indent: 50px;
}

#demo{
     text-indent: 100px;
}

button{
  margin-left: 100px;

}

input{
  width: 10%;
}

label{
  margin-left: 100px; 
  color: antiquewhite;
}