/** GLOBAL **/
body {
  font: 16px/1.5 Arial, Helvetica,sans-serif;
  margin: 0;
  /*background-color:#eceff1;*/
  background-color:#f4f4f4;
}

.container {
  width: 70%;
  margin: auto;
  overflow: hidden;
  padding:0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

h2 {
  font-size: 29px;
}

.current {
  font-weight: bold;
  color: #53b6d0;
}

.current-toc {
  font-weight: bold;
}

nav ul {
  list-style: none;
}

.arrow-left {
    width: 16px;
    height: 16px;
}

.arrow-right {
    width: 16px;
    height: 16px;
}

/* HEADER */

header {
  background: #3c3f41;
  color: #ffffff;
  padding-top: 15px;
  min-height: 70px;
  border-bottom: #53b6d0 3px solid;
  overflow: auto;
  margin-bottom: 0;
}

header span {
  font-size: 24px;
  color: #53b6d0;
}

header #title {
  float: left;
}

header #title h1 {
  margin: 0;
}

header nav {
  float: right;
}

header nav li {
  display: inline;
  padding: 0 20px 0 20px;
}

header nav a {
  color: #ffffff;
}

header nav a:hover{
  color: #53b6d0;
  font-weight: bold;
}

/* TABLE OF CONT */
#table-of-cont {
  background: #f9f9f9;
  float: left;
  width: 20%;
  margin: 5px 10px 0 0;
  box-sizing: border-box;
}

#table-of-cont nav {
  margin: 15px;
}

#table-of-cont ul {
  list-style: square;
}

#table-of-cont li {
    padding: 5px 0 5px 0;
}

#table-of-cont a {
  font-size: 14px;
}

/* SECTION */
section {
  background: #ffffff;
  float: left;
  width: 79%;
  box-sizing: border-box;
}


/* SECTION TOC ABOUT */
#toc-about-section {
  width: 100%;
  background-color: #ffffff;
  margin: auto;
  overflow: hidden;
}

#toc-about-section a {
  font-weight: bold;
}

/* ARTICLE */
article {
    margin: 0 50px 100px 50px
}

/* ARTICLE TOC ABOUT */
#toc-about-article {
  margin: 0 0 0 50px;
}

/* FOOTER */
footer {
  background: #3c3f41;
}

footer nav {
    float: right;
}

footer li {
    display: inline;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #53b6d0;
    font-weight: bold;
}

/* MEDIA QUERIES */
/*
@media(max-width: 1146px) {
  header #title {
    float: none;
  }
  header nav {
    float: none;
  }
  
  header nav ul, header nav li, header nav a {
    margin-left: 0;
  }
}

@media(max-width: 649px) {
  header, header #title, header nav, header nav li{
    float: none;
    text-align: center;
    border: 1px solid white
      margin
  }
  
  header span {
    display: block;
  }
  
  nav, nav li, nav ul, nav  {
    text-align: center;
  }
  */
}